@use "global" as *;
.content__content {
  display: block;
  width: 50%; // 親box(375px)に対して子boxの比率を指定してる。
  position: relative;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.content__content::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 89.36%;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
